<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CentauriSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.centauri</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>ENABLE_TWEAK</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CentauriSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.centauri</string>
			<key>key</key>
			<string>enableLowPowerTap</string>
			<key>label</key>
			<string>LOW_POWER_TAP</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CentauriSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.centauri</string>
			<key>key</key>
			<string>enableHaptics</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CentauriSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.centauri</string>
			<key>key</key>
			<string>hideEmptyBatteryRings</string>
			<key>label</key>
			<string>EMPTY_RINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>CentauriSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.centauri</string>
			<key>key</key>
			<string>hideBackground</string>
			<key>label</key>
			<string>HIDE_BACKGROUND</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>CentauriTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.centauri</string>
			<key>action</key>
			<string>respring</string>
			<key>label</key>
			<string>APPLY_CHANGES</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>CentauriTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.centauri</string>
			<key>action</key>
			<string>sourceCode</string>
			<key>label</key>
			<string>VIEW_SOURCE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>CentauriTableCell</string>
			<key>default</key>
			<string></string>
			<key>detail</key>
			<string>CTLController</string>
			<key>defaults</key>
			<string>com.mtac.centauri</string>
			<key>label</key>
			<string>TRANSLATIONS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>CentauriTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.mtac.centauri</string>
			<key>action</key>
			<string>twitter</string>
			<key>label</key>
			<string>FOLLOW_TWITTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>v1.0.1-α © MTAC</string>
		</dict>
	</array>
	<key>title</key>
	<string>CENTAURI</string>
</dict>
</plist>
